.root{
    -fx-background-color: #ffffcc;
}

#convertButton{
    -fx-background-color: #802b00;
    -fx-text-fill: #ffff99;
    -fx-cursor: hand;
}

#marleyTextField{
    -fx-background-color: -fx-control-inner-background;
    -fx-border-color: #991f00;
    -fx-border-width: 3;
    -fx-border-radius: 5;
}